:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --main-btn-color: #212121;
    --main-logo-color: #2196F3;
    --main-bg-color: #2F303A;
    --second-bg-color: #C4C4C4;
    --second-title-color: #FFFFFF;
    --second-btn-color: #FFFFFF;
    --accent-color: #2196F3;
    --main-soc-color: #AFB1B8;
    --main-gap: 30px;
        --main-filter-gap: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    cursor: pointer;
}

.text {
    color: var(--main-text-color);
}

.title {
    color: var(--main-title-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

/* ----------HEADER---------- */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}

.header-logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.26;
    letter-spacing: 0.03em;
    color: var(--main-logo-color);
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.header-logo span {
    color: var(--main-title-color);
}

.header-connect {
    margin-left: auto;
    display: flex;
        align-items: center;
}

/* Універсальний спосіб, не тільки для кольору і для іконок, але й для розміру, анімації, бекграунду...
    
    .masters-soc-link:hover .masters-soc-icon,
    .masters-soc-link:focus .masters-soc-icon {
        fill: chocolate;
    }
    
    .masters-soc-link:hover,
    .masters-soc-link:focus {
        background-color: teal;
}

*/
.header-contacts {
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
        align-items: center;
}

.header-connect-mail,
.header-connect-phone {
    fill: currentColor;
    margin-right: 10px;
}
.header-contacts:not(:last-child) {
    margin-right: 40px;
}

/* ----------HERO---------- */

.hero {
    background-color: var(--second-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/hero-bg.jpg);
        height: 600px;
        max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-left: auto;
    margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
    
    
.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
        margin-right: auto;
        max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.hero-btn {
    min-width: 200px;
        height: 50px;
        margin: auto;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color);
    border-radius: 4px;
}

/* ----------BENEFITS---------- */

.benefits {
    padding-bottom: 0;
}
.benefits-list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
    }
    
    .benefits-list>.benefits-item {
        flex-basis: calc(100% / 4 - var(--main-gap));
        margin-left: var(--main-gap);
        margin-top: var(--main-gap);
}

/* .benefits-item {
    box-sizing: var(--main-gap);
    */ .benefits-item {
        max-width: 270px;
    }
/* .benefits-item+.benefits-item {
        margin-left: 30px;
}

*/
.benefits-image {
    background-color: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.benefits-title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* ----------WORK---------- */

/*      */

.work-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work-list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
}

.work-list>.work-item {
    flex-basis: calc(100% / 3 - var(--main-gap));
    margin-left: var(--main-gap);
    margin-top: var(--main-gap);
}

/* .work-item:not(last-child) {
    margin-right: 30px;
}

*/

/* ----------TEAM---------- */

.team {
    background-color: #F5F4FA;
}

.team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team-list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
}
/* .team-item:not(last-child) {
        margin-right: 30px;
    */ .team-list>.team-item {
            flex-basis: calc(100% / 4 - var(--main-gap));
            margin-left: var(--main-gap);
            margin-top: var(--main-gap);
}

.team-member {
    background-color: var(--second-title-color);
    width: 270px;
        height: 168px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0px 0px 4px 4px;
}

.team-list-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.team-soc-item:last-child {
    margin-right: 0;
}

.team-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-soc-color);
    margin-top: 16px;
}

.team-soc-list {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.team-soc-icon {
    fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
}

/* ----------CUSTOMERS---------- */

.customers-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-title-color);
}

.customers-item {
    width: 170px;
    height: 92;
    margin-right: var(--main-gap);
}

.customers-item:last-child {
    margin-right: 0;
}

.customers-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
}

.customers-list {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.customers-icon {
    fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

/* ----------FOOTER---------- */

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-logo-color);
}


.footer-logo span {
    color: var(--second-title-color)
}

.footer-link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.footer-contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-item:nth-child(1) {
    margin-top: 28px;
}
.footer-item:not(last-child) {
    margin-bottom: 12px;
}

/* ------------------------- */
/*  PORTFOLIO */
/* ------------------------- */



/* ----------FILTER---------- */

.filter {
    margin-bottom: 50px;
}

.filter-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-item:not(:last-child) {
    margin-right: var(--main-filter-gap);
}
.filter-btn {
    padding: 6px 22px;
        border-radius: 4px;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    border-color: transparent;
}

.filter-btn:hover,
.filter-btn:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
}


/* ----------PROJECTS---------- */

.projects-list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--main-gap));
    margin-top: calc(-1 * var(--main-gap));
}

.projects-list>.projects-item {
    flex-basis: calc(100% / 3 - var(--main-gap));
    margin-left: var(--main-gap);
    margin-top: var(--main-gap);
}

.projects-item {
    box-sizing: var(--main-gap);
}

.projects-title {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.projects-list-title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.projects-list-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}