:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --main-btn-color: #212121;
    --main-logo-color: #2196F3;
    --main-bg-color: #2F303A;
    --second-bg-color: #C4C4C4;
    --second-title-color: #FFFFFF;
    --second-btn-color: #FFFFFF;
    --accent-color: #2196F3;
    --main-soc-color: #AFB1B8;
    --main-gap: 30px;
        --main-filter-gap: 8px;
}

body {
    font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

section {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 94px;
}

.link {
    text-decoration: none;
}

.link:hover,
.link:focus {
    color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(50%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn {
    cursor: pointer;
}

.btn:hover {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text {
    color: var(--main-text-color);
}

.title {
    color: var(--main-title-color);
    font-weight: 700;
    letter-spacing: 0.03em;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: var(--main-logo-color);
}

/* ----------HEADER---------- */

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ECECEC;
}

.header .container {
    display: flex;
    align-items: center;
}

.nav__list {
    display: flex;
}

.nav__item:not(:last-child) {
    margin-right: 50px;
}

.header__logo {
    margin-right: 93px;
    line-height: 1.26;
}

.nav__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

.nav__link.current {
    position: relative;
    color: var(--accent-color);
}

.nav__link.current::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    left: 0;
    bottom: -42px;
}
.header__logo span {
    color: var(--main-title-color);
}

.connect {
    margin-left: auto;
    display: flex;
        align-items: center;
}

/* Універсальний спосіб, не тільки для кольору і для іконок, але й для розміру, анімації, бекграунду...
    
    .masters-soc-link:hover .masters-soc-icon,
    .masters-soc-link:focus .masters-soc-icon {
        fill: chocolate;
    }
    
    .masters-soc-link:hover,
    .masters-soc-link:focus {
        background-color: teal;
}

*/
.contacts {
        font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    display: flex;
        align-items: center;
}

.connect__mail,
.connect__phone {
    fill: currentColor;
    margin-right: 10px;
}
.contacts:not(:last-child) {
    margin-right: 40px;
}

/* ----------HERO---------- */

.hero {
    background-color: var(--second-bg-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url(../images/hero-bg.jpg);
        height: 600px;
        max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 280px;
    margin-left: auto;
    margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
    
    
.hero__title {
    margin-bottom: 30px;
    margin-left: auto;
        margin-right: auto;
        max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-title-color);
}

.hero__btn {
    min-width: 200px;
        height: 50px;
        margin: auto;
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: block;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color);
    border-radius: 4px;
}

/* ----------BENEFITS---------- */

.benefits {
    padding-bottom: 0;
}
.benefits__list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
    }
    
    .benefits__list>.benefits__item {
        flex-basis: calc(100% / 4 - var(--main-gap));
        margin-left: var(--main-gap);
        margin-top: var(--main-gap);
}

/* .benefits__item {
    box-sizing: var(--main-gap);
    */ 
    
.benefits__item {
        max-width: 270px;
    }
/* .benefits__item+.benefits__item {
        margin-left: 30px;
}

*/
.benefits__image {
    background-color: #F5F4FA;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
}
.benefits__title {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


/* ----------WORK---------- */


.work__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work__list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
}

.work__list>.work__item {
    flex-basis: calc(100% / 3 - var(--main-gap));
    margin-left: var(--main-gap);
    margin-top: var(--main-gap);
}

.work__top-wrap {
    position: relative;
}

.work__top-text {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
    color: #ffffff;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
/* .work__item:not(last-child) {
    margin-right: 30px;
}

*/

/* ----------TEAM---------- */

.team {
    background-color: #F5F4FA;
}

.team__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.team__list {
    padding: 0;
        margin: 0;
        list-style: none;
    display: flex;
    flex-wrap: wrap;
        margin-left: calc(-1 * var(--main-gap));
        margin-top: calc(-1 * var(--main-gap));
}
.team__item {
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
/* .team__item:not(last-child) {
        margin-right: 30px;
    */ .team__list>.team__item {
            flex-basis: calc(100% / 4 - var(--main-gap));
            margin-left: var(--main-gap);
            margin-top: var(--main-gap);
}

.team-member {
    background-color: var(--second-title-color);
    width: 270px;
        height: 168px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-radius: 0px 0px 4px 4px;
}

.team-member__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    margin-bottom: 10px;
}

.team-member__text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.soc__item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.soc__item:last-child {
    margin-right: 0;
}

.soc__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--main-soc-color);
    margin-top: 16px;
}

.soc {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.soc__icon {
    fill: currentColor;
}

.soc__link:hover,
.soc__link:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------CUSTOMERS---------- */

.customers__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
    color: var(--main-title-color);
}

.customers__item {
    width: 170px;
    height: 92;
    margin-right: var(--main-gap);
}

.customers__item:last-child {
    margin-right: 0;
}

.customers__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 16px 32px;
}

.customers__list {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.customers__icon {
    fill: currentColor;
}

.customers__link:hover,
.customers__link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ----------FOOTER---------- */

.footer {
    background-color: var(--main-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer>.container {
    display: flex;
}

.footer__logo {
    line-height: 1.19;
}

.footer__address {
    margin-right: 70px;
}

.footer__logo span {
    color: var(--second-title-color)
}

.address__link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-color);
}

.address__contacts {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.address__item:nth-child(1) {
    margin-top: 28px;
}
.address__item:not(last-child) {
    margin-bottom: 12px;
}

.footer-find-title {
    color: var(--second-title-color);
    font-size: 14px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    padding-top: 12px;
    margin-bottom: 20px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.footer-soc-item:last-child {
    margin-right: 0;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.10);
    color: var(--second-btn-color);
    margin-top: 16px;
}

.footer-soc-list {
    padding-left: 0;
    display: flex;
    justify-content: center;
}

.footer-soc-icon {
    fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe {
    margin-left: 93px;
}

.footer-subscribe-text {
    color: var(--second-title-color);        
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        padding-top: 12px;
        margin-bottom: 20px;
}

.footer-form-field {
    display: flex;
    flex-direction: column;
    position: relative;
    }

.footer-form-label {
    position: absolute;
    top: 50%;
    margin-left: 16px;
    transform: translateY(-50%);

    color: rgba(255, 255, 255, 0.60);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input {
    width: 358px;
    height: 50px;
    padding: 0 16px;
    border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);

    color: rgba(255, 255, 255, 0.60);
    transition: border-color 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input:focus + .footer-form-label,
.footer-form-input:not(:placeholder-shown) +.footer-form-label {
    color: var(--accent-color);
    transform: translate(-150%, -50%);
    border-color: var(--accent-color);
}

.footer-form-input:hover, .footer-form-input:focus,
.footer-form-input:not(:placeholder-shown) {
    border-color: var(--accent-color);   
}

.footer-subscribe-btn {
    margin-left: 12px;
    padding: 0;
    width: 200px;
    height: 50px;
    margin-top: 48px;
    border-radius: 4px;
        background: var(--main-logo-color);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        color: var(--second-btn-color);
    display: flex;
   align-items: center;
   justify-content: center;
}

.footer-subscribe-btn span {
    margin-right: 30px;
}

/* ------------------------- */
/*  PORTFOLIO */
/* ------------------------- */



/* ----------FILTER---------- */

.filter {
    margin-bottom: 50px;
}

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: var(--main-filter-gap);
}
.filter__btn {
    padding: 6px 22px;
        border-radius: 4px;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    border-color: transparent;
}

.filter__btn:hover,
.filter__btn:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}


/* ----------PROJECTS---------- */

.projects__list {
    padding: 0;
    margin: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;

    margin-left: calc(-1 * var(--main-gap));
    margin-top: calc(-1 * var(--main-gap));
}

.projects__list>.projects__item {
    flex-basis: calc(100% / 3 - var(--main-gap));
    margin-left: var(--main-gap);
    margin-top: var(--main-gap);
}

.projects__item {
    box-sizing: var(--main-gap);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item:hover,
.projects__item:focus {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.projects__item:hover .projects__hidden-text {
    transform: translateY(0);
}

.projects__top-wrap {
    position: relative;
    overflow: hidden;
}

.projects__hidden-text {
    position: absolute;
    top: 0;
    color: var(--second-title-color);
    background-color: rgba(33, 150, 243, 0.90);
    height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.56;
    letter-spacing: 0.54px;
}
.project-example {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-left: 1px solid #EEE;
    border-right: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
}
.project-example__title {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}

.project-example__text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}

/* ----------MODAL---------- */


.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 28, 38, 0.476);
    position: fixed;
    top: 0;
    transition: opacity 300ms, visibility 300ms;
}

.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0) rotate(180deg);
}

.modal {
    width: 500px;
    min-height: 600px;
    background-color: var(--second-title-color);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(0);
    transition: transform 300ms;
    padding: 40px;
}

.modal-close-btn {
    width: 30px;
    height: 30px;
    display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.10);
   
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
    fill: var(--accent-color);
}

.no-scroll {
    overflow: hidden;
}

.modal-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 12px;
}

.modal-field {
    margin-bottom: 10px;
}

.input-wrap {
    position: relative;
}

.modal-icon {
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    fill: var(--main-title-color);
    margin-right: 12px;
}

.modal-input {
    padding: 0;
    width: 100%;
    height: 40px;
    border-radius: 4px;
        border: 1px solid rgba(33, 33, 33, 0.20);
    padding-left: 42px;
    outline: none;
}

.modal-input:focus, .modal-text:focus {
    border-color: var(--accent-color);
}

.modal-input:focus+.modal-icon {
    fill: var(--accent-color);
}

.modal-text::placeholder {
    color: rgba(117, 117, 117, 0.50);
    font-size: 12px;
}

.modal-label {
    font-size: 12px;
    color: var(--main-text-color);
    margin-bottom: 4px;
    display: block;
}

.modal-text {
    padding: 12px 16px;
    width: 100%;
    height: 100px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    border-radius: 5px;
    resize: none;
}

.check-text {
    color: var(--main-text-color);
    font-size: 14px;
    display: flex;
}

/* .check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.check-icon {
    fill: transparent;
}

.modal-check:checked+.check-text span {
    background-color: var(--accent-color);
    border: none;
}

.modal-check:checked+.check-text .check-icon {
    fill: var(--main-btn-color);
}

.modal-check:focus+.check-text span {
    border-color: var(--accent-color);
}

 .check-text::before {
    content: '';
    width: 16px;
    height: 15px;
    border: 2px solid #090b13;
    border-radius: 3px;
    margin-left: 12px;
    margin-right: 5px;
}

.modal-check:checked + .check-text::before {
    background-color: var(--accent-color);
    background-image: url(../images/check.svg);
    border: none;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.modal-check:focus +.check-text::before {
border-color: var(--accent-color);
} 

.modal-button {
    display: block;
    width: 200px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: transparent;
    color: var(--second-btn-color);
    border-radius: 4px;
        background: #188CE8;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}