.work__title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.work__list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--main-gap));
    margin-top: calc(-1 * var(--main-gap));
}

.work__list>.work__item {
    flex-basis: calc(100% / 3 - var(--main-gap));
    margin-left: var(--main-gap);
    margin-top: var(--main-gap);
}

.work__top-wrap {
    position: relative;
}

.work__top-text {
    position: absolute;
    bottom: 0;
    padding-top: 27px;
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.80);
    color: #ffffff;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

/* .work__item:not(last-child) {
    margin-right: 30px;
}

*/