.filter {
    margin-bottom: 50px;
}

.filter__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter__item:not(:last-child) {
    margin-right: var(--main-filter-gap);
}

.filter__btn {
    padding: 6px 22px;
    border-radius: 4px;
    font-family: inherit;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-btn-color);
    border-color: transparent;
}

.filter__btn:hover,
.filter__btn:focus {
    background-color: var(--accent-color);
    color: var(--second-btn-color);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}