:root {
    --main-text-color: #757575;
    --main-title-color: #212121;
    --main-btn-color: #212121;
    --main-logo-color: #2196F3;
    --main-bg-color: #2F303A;
    --second-bg-color: #C4C4C4;
    --second-title-color: #FFFFFF;
    --second-btn-color: #FFFFFF;
    --accent-color: #2196F3;
    --main-soc-color: #AFB1B8;
    --main-gap: 30px;
    --main-filter-gap: 8px;
}